name: Hello World

on:
    push:
    workflow_dispatch:
      inputs:
        name:
          description: "Name to greet"
          required: true
          default: "NST"

jobs:
    hello-world:
        runs-on: ubuntu-latest
        steps:
            - name: Say Hello
              run: echo "Hello ${{ github.event.inputs.name }}!"
            - name: List Files
              run: ls -la
            - name: Checkout
              uses: actions/checkout@v4
            - name: List Files
              run: ls -la
